.mat-drawer-container {
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  mat-drawer-content{
    min-height: calc(100vh - 56px);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    width: 300px;
  }

  .logo-container{
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    height: 56px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }

  mat-toolbar{
    min-height: 56px;
  }

  mat-toolbar-row{
    height: 56px;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  ul{
    padding: 0;
    margin: 0;
  }
  li{
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    &:hover{
      background-color: rgba(0, 0, 0, 0.04);
    }
    &:focus{
      outline: none;
    }
    mat-icon{
      margin-right: 16px;
    }
  }

  .router-container{
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
  }