.mat-drawer-container {
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  