<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="example-sidenav-content">

        <button mat-icon-button (click)="drawer.toggle()" type="button">
          <mat-icon>menu</mat-icon>
        </button>

      </div>

      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div routerLink="" class="logo-container">
      platz für logo
    </div>

    <ul>
      <li routerLink="/dashboard">
        <mat-icon>fact_check</mat-icon> Dashboard
      </li>
      <li routerLink="/user">
        <mat-icon>perm_identity</mat-icon> User
      </li>
    </ul>
  </mat-drawer>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>