<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="example-sidenav-content">

        <button mat-icon-button (click)="drawer.toggle()" type="button">
          <mat-icon>menu</mat-icon>
        </button>

      </div>

      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>



</mat-drawer-container>

<router-outlet></router-outlet>